# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5444/zap_zap?schema=public"

# Cache & Locks
REDIS_URL="redis://localhost:6379/0"

# Message Broker
RABBITMQ_URL="amqp://localhost:5672"

# API Server Configuration
PORT=3000
LOG_LEVEL=info
NODE_ENV=production
